html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#container {
  margin: auto;
  position: relative;
  background-color: green;
  display: flex;
}

#pokemon {
  background-color: white;
  position: absolute;
}

.pipe {
  background-color: black;
  position: absolute;
}
