html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#container {
  margin: auto;
  position: relative;
  background-color: green; /* Wait to change */
  display: relative;
}

#pokemon {
  background-color: white; /* Wait to change */
  position: absolute;
}

.pipe {
  background-color: black; /* Wait to change */
  position: absolute;
}
